.product-image {
    height: 250px;
    width: 100%;
    border-radius: 10px;
    background-color: $light-grey;
}

.btn-primary {
    background: black;
    @include default-font;
    border: none;
}

.card {
    border: none;
}

.card:hover,
.btn:hover,
a:hover {
    transform: scale(1.05);
    transition-timing-function: ease-in-out;
    cursor: pointer;
}