footer {
    @include default-font;
    color: $medium-grey;

    a {
        @include default-font;
        font-weight: bold;
        color: white;
    
        &:hover {
            text-decoration: none;
            color: $medium-grey;
        }
    }

    h6 {
        font-size: $font-size-default;
        color: white;
    }
}